/* Reset and base styles  */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;600;800&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body {
	background-color: var(--black);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */
ul,
li {
	list-style: none;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	width: 100%;
}

/* Common */

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

:root {
	--black: #171718;
	--purple: #39d9ee;
	--pop: 'Poppins';
	--anim: 10s;
}

html,
body {
	max-height: max-content;
	font-family: 'Dm Sans';
	color: var(--black);
}

.container {
	padding: 0 15px;
	max-width: 1200px;
	margin: 0 auto;
}

.none {
	display: none !important;
}

/*About*/

.about-paragraf {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1px;
	word-spacing: 3px;
}

.about .section {
	padding: 20px 0px 40px 0;
}

.about-paragraf a {
	color: #32cf0b;
}

.about-paragraf b {
	font-family: 'Handjet', sans-serif;
	font-size: 35px;
	color: var(--purple);
}

/* Nav */
.nav {
	z-index: 999;
	padding: 20px 0;
	background-color: #171718;
	color: #fff;
	border-bottom: 1px solid #26292D;
	font-family: 'Roboto';
	letter-spacing: normal;
}

.nav__menu {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 20px;
	justify-content: space-between;
}

.menu__logo {
	color: #fff;
	font-size: 24px;
	font-family: var(--pop);
	cursor: pointer;
}

.menu__logo span {
	font-weight: bold;
}

.menu__links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 30px;
	row-gap: 15px;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu__links a {
	font-size: 20px;
	color: #fff;
	transition: opacity .2s ease-in;
}

.menu__links .active {
	border-bottom: 2px solid var(--purple);
	border-radius: 5px;
	padding-bottom: 5px;
}

.menu__links a:active {
	position: relative;
	top: 1px;
}

.menu__burger {
	cursor: pointer;
	padding: 6px 5px;
	width: 45px;
	height: 40px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.4s;
}

.menu__burger-line {
	background-color: #fff;
	height: 4px;
	border-radius: 1px;
	width: 100%;
	transition: 0.4s;
}

/* Header */
@keyframes bg-anim {}

.header {
	min-height: 695px;
	padding: 20px 20px;
	font-family: 'Roboto';
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: var(--black);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
	color: #fff;
}

.header__title {
	font-family: 'Handjet', sans-serif;
	letter-spacing: 3px;
	font-size: 35px;
	font-weight: bold;
	line-height: 1.4;
	margin: 0px 0px 20px 0px;
	animation: color 2s linear infinite;
}

.header__title strong {
	font-size: 55px;
}

.header__title span {
	color: var(--purple);
	white-space: nowrap;
}

.header__text {
	margin: 0px 0px 40px 0px;
	font-size: 25px;
	line-height: 24px;
}

.header__text span {
	color: #ffdbdb;
}

.header__text p+p {
	margin: 1em 0px 0px 0px;

}

/* Btn */

.btn {
	height: 48px;
	padding: 12px 28px;
	color: var(--purple);
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid var(--purple);
	border-radius: 5px;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: .15px;
	transition: .2s ease-in;
}

.btn:hover {
	background-color: var(--purple);
	color: var(--black);
}

.btn:active {
	position: relative;
	top: 1px;
}

/* General */

.section {
	padding: 40px 0;
	font-family: 'Roboto';
	border-bottom: 1px solid #2c2c2c;
}

.title-1 {
	font-family: 'Handjet', sans-serif;
	letter-spacing: 5px;
	margin: 0px 0px 60px 0px;
	font-size: 45px;
	font-weight: 700;
	line-height: 1.3;
	color: var(--black);
	text-align: center;
}

.title-1.white {
	color: #fff;
}

/* Projects */

.projects {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 25px;
}

.project {
	width: 240px;
	min-height: 150px;
	background-color: #494949;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	transition: .2s ease-in;
}

.project:hover {
	transform: scale(1.02);
	background-color: #ffffff;
	color: var(--black);
}

.project__img {
	border-radius: 10px;
}

.project__title {
	padding: 7px 10px 15px;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.3;
}

.project:hover .project__title {
	color: var(--black);
}

.project:active {
	position: relative;
	top: 2px;
}

/* Project details */
.section__body {
	max-width: 865px;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__img {
	max-width: 800px;
	margin: 0px 0px 40px 0px;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.section__txt {
	margin: 0px 0px 30px 0px;
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
}

.section__btn {
	font-family: 'Roboto';
	color: var(--black);
	font-size: 16px;
	font-weight: 600;

	height: 48px;
	width: max-content;
	padding: 12px 20px;
	border: 1px solid #000;
	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	transition: .2s ease-in;
}

.section__btn:hover {
	background-color: var(--black);
	color: #fff;
}

.section__btn.white {
	color: #fff;
	border-color: #fff;
}

.section__btn.white:hover {
	color: var(--black);
	background-color: #fff;
	border-color: #fff;
}

.section__btn:active {
	background-color: #2b2b2b;
	position: relative;
	top: 1px;
}

.section__btn img {
	border-radius: 50%;
	background-color: #ffffff;
}

/* Footer */

.footer {
	border-top: 1px solid #444444;
	display: flex;
	padding: 20px 0px 20px;
	background-color: var(--black);
	color: #fff;
}

.footer .container {
	display: flex;
	align-items: center;
	gap: 40px;
}

.socials {
	display: flex;
	justify-content: center;
	gap: 30px;
	/*margin: 0px 0px 30px 0px;*/
}

.socials__item {
	width: 24px;
}

.footer__text {
	font-size: 16px;
}

/* Skills */

.content-list {
	/*max-width: 571px;*/
	margin: 0 auto;
	text-align: center;
}

.content-list__item {
	margin: 0px 0px 40px 0px;
}

.title-2 {
	margin: 0px 0px 20px 0px;

	font-size: 30px;
	font-weight: 700;
	line-height: 1.3;
	text-align: center;
}

.content-list__item p {
	font-size: 18px;
	font-weight: 400;
}

.menu__burger.open div:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.menu__burger.open div:nth-child(2) {
	opacity: 0;
}

.menu__burger.open div:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -6px);
}

.section__btn.home {
	margin: 40px auto 0;
}

span.rct {
	color: #61dafb;
	font-weight: 600;
}

span.ts {
	color: #5C62EC;
	font-weight: 600;
}

.black {
	background-color: var(--black);
	color: #fff;
}

.proj .title-1 {
	color: var(--purple);
}

.skills-table {
	width: 100%;
	font-size: 23px;
}

.skills-table tr {
	border: 12px solid #fff;
	border-bottom: 1px solid #1d4086;
}

.skills-table td {
	padding: 3px 5px;
	border-bottom: 1px solid #7b00ff;
	/*color: #32cf0b;*/
}

.skills-table .x {
	border: none;
	padding: 0;
}

.skills-table .x div {
	width: 100%;
	height: 25px;
	margin: 5px;
	background: #b8bfc7;
}

.skills-table .name {
	width: 30%;
}

.skills-table .name,
.skills-table .level {
	font-size: 32px;
	font-weight: 900;
	font-family: 'Handjet', sans-serif;
	letter-spacing: 3px;
	color: #8c54ff;
	padding-bottom: 14px;

}

.edu {
	font-size: 25px;
}

.edu div {
	margin-bottom: 5px;
}

.edu b {
	color: #b48fff;
}

.job {
	font-size: 22px;
}

.bb {
	border-bottom: 1px solid #444444;
	padding-bottom: 20px;
}

.comp-name b {
	font-weight: 900;
	font-size: 25px;
	color: #a0ffb1;
}

.content-list__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}

.content-list__item img {
	width: 25px;
}

.contacts .content-list h2 {
	font-size: 25px;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.contacts .content-list a {
	font-size: 22px;
	color: #0011cc;
}

.contacts-block {
	display: flex;
	flex-wrap: wrap;
}


@-webkit-keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 482px;
		stroke-dasharray: 482px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482px;
	}
}

@keyframes animate-svg-stroke-1 {
	0% {
		stroke-dashoffset: 482px;
		stroke-dasharray: 482px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482px;
	}
}


@-webkit-keyframes animate-svg-stroke-2 {
	0% {
		stroke-dashoffset: 482.0000305175781px;
		stroke-dasharray: 482.0000305175781px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.0000305175781px;
	}
}

@keyframes animate-svg-stroke-2 {
	0% {
		stroke-dashoffset: 482.0000305175781px;
		stroke-dasharray: 482.0000305175781px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.0000305175781px;
	}
}

@-webkit-keyframes animate-svg-stroke-3 {
	0% {
		stroke-dashoffset: 482.0002746582031px;
		stroke-dasharray: 482.0002746582031px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.0002746582031px;
	}
}

@keyframes animate-svg-stroke-3 {
	0% {
		stroke-dashoffset: 482.0002746582031px;
		stroke-dasharray: 482.0002746582031px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.0002746582031px;
	}
}


@-webkit-keyframes animate-svg-stroke-4 {
	0% {
		stroke-dashoffset: 481.9999084472656px;
		stroke-dasharray: 481.9999084472656px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 481.9999084472656px;
	}
}

@keyframes animate-svg-stroke-4 {
	0% {
		stroke-dashoffset: 481.9999084472656px;
		stroke-dasharray: 481.9999084472656px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 481.9999084472656px;
	}
}


@-webkit-keyframes animate-svg-stroke-5 {
	0% {
		stroke-dashoffset: 482.0002136230469px;
		stroke-dasharray: 482.0002136230469px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.0002136230469px;
	}
}

@keyframes animate-svg-stroke-5 {
	0% {
		stroke-dashoffset: 482.0002136230469px;
		stroke-dasharray: 482.0002136230469px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.0002136230469px;
	}
}


@-webkit-keyframes animate-svg-stroke-6 {
	0% {
		stroke-dashoffset: 482.000244140625px;
		stroke-dasharray: 482.000244140625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.000244140625px;
	}
}

@keyframes animate-svg-stroke-6 {
	0% {
		stroke-dashoffset: 482.000244140625px;
		stroke-dasharray: 482.000244140625px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.000244140625px;
	}
}


@-webkit-keyframes animate-svg-stroke-7 {
	0% {
		stroke-dashoffset: 482.001708984375px;
		stroke-dasharray: 482.001708984375px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.001708984375px;
	}
}

@keyframes animate-svg-stroke-7 {
	0% {
		stroke-dashoffset: 482.001708984375px;
		stroke-dasharray: 482.001708984375px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.001708984375px;
	}
}


@-webkit-keyframes animate-svg-stroke-8 {
	0% {
		stroke-dashoffset: 482.001708984375px;
		stroke-dasharray: 482.001708984375px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.001708984375px;
	}
}

@keyframes animate-svg-stroke-8 {
	0% {
		stroke-dashoffset: 482.001708984375px;
		stroke-dasharray: 482.001708984375px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.001708984375px;
	}
}


@-webkit-keyframes animate-svg-stroke-9 {
	0% {
		stroke-dashoffset: 481.9998474121094px;
		stroke-dasharray: 481.9998474121094px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 481.9998474121094px;
	}
}

@keyframes animate-svg-stroke-9 {
	0% {
		stroke-dashoffset: 481.9998474121094px;
		stroke-dasharray: 481.9998474121094px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 481.9998474121094px;
	}
}


@-webkit-keyframes animate-svg-stroke-10 {
	0% {
		stroke-dashoffset: 482.0002136230469px;
		stroke-dasharray: 482.0002136230469px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.0002136230469px;
	}
}

@keyframes animate-svg-stroke-10 {
	0% {
		stroke-dashoffset: 482.0002136230469px;
		stroke-dasharray: 482.0002136230469px;
	}

	100% {
		stroke-dashoffset: 0;
		stroke-dasharray: 482.0002136230469px;
	}
}

.svg-elem-1 {
	-webkit-animation: animate-svg-stroke-1 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-1 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-2 {
	-webkit-animation: animate-svg-stroke-2 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-2 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-3 {
	-webkit-animation: animate-svg-stroke-3 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-3 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-4 {
	-webkit-animation: animate-svg-stroke-4 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-4 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-5 {
	-webkit-animation: animate-svg-stroke-5 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-5 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-6 {
	-webkit-animation: animate-svg-stroke-6 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-6 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-7 {
	-webkit-animation: animate-svg-stroke-7 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-7 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-8 {
	-webkit-animation: animate-svg-stroke-8 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-8 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-9 {
	-webkit-animation: animate-svg-stroke-9 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-9 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

.svg-elem-10 {
	-webkit-animation: animate-svg-stroke-10 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
	animation: animate-svg-stroke-10 var(--anim) cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both infinite;
}

svg {
	width: 550px;
	height: 550px;
	position: absolute;
}

@media (max-width: 620px) {

	/* Header */
	svg {
		width: 450px;
		height: 450px;
	}

	.header {
		min-height: 620px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}

	.header:before {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		animation: none;
	}

	.header__title {
		font-size: 25px;
	}

	.header__title strong {
		font-size: 35px;
	}

	.header__text {
		font-size: 22px;
	}

	.nav {
		padding: 15px 0;
	}

	.nav__menu {
		z-index: 2;
	}

	.menu__links {
		min-height: 100vh;
		position: absolute;
		flex-direction: column;
		align-items: flex-start;
		box-sizing: border-box;
		z-index: 1;
		left: 0;
		top: 80px;
		background-color: var(--black);
		padding: 20px;
		width: 0px;
		overflow: hidden;
		transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
		transform: translateX(-80px);
	}

	.menu__links a {
		margin-bottom: 7px;
		font-size: 20px;
	}

	.menu__links.open {
		width: 100%;
		transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
		transform: translateX(0);
	}

	.menu__burger {
		display: flex;
	}

	/* General */
	.section {
		padding: 40px 0;
	}

	.title-1 {
		font-size: 40px;
		margin: 0px 0px 30px 0px;
	}

	.title-2 {
		font-size: 25px;
		margin: 0px 0px 10px 0px;
	}

	/* Projects */
	.projects {
		justify-content: center;
	}

	.project {
		max-width: 150px;
	}

	.project__title {
		font-size: 18px;
	}

	/* Projects page */
	.section__txt {
		margin: 0 0 15px 0;
		font-size: 20px;
	}

	/* Content list */
	.content-list__item {
		margin: 0 0 25px 0;
	}

	/* Footer */
	.footer {
		padding: 20px 0 20px;
	}

	/* Social */
	.footer .container {
		gap: 20px;
	}

	.socials {
		gap: 13px;
	}

	.socials__item {
		width: 20px;
		gap: 10px;
	}

	.about-paragraf {
		font-size: 18px;
	}

	.about-paragraf b {
		font-size: 26px;
		line-height: 1.5;
	}

	.skills-table {
		font-size: 18px;
	}

	.skills-table td {
		padding: 3px;
	}

	.skills-table .name,
	.skills-table .level {
		font-size: 25px;
		padding-bottom: 14px;

	}

	.edu {
		font-size: 18px;
	}

	.contacts .content-list a {
		font-size: 18px;
	}

	.content-list__item img {
		width: 20px;
		height: 20px;
	}

	.contacts .content-list h2 {
		font-size: 20px;
	}

	.comp-name b {
		font-size: 22px;
	}
}

@media (max-width: 500px) {
	svg {
		width: 350px;
		height: 350px;
	}

	.project {
		max-width: 150px;
	}

	.project__title {
		font-size: 15px;
		padding: 10px 15px 10px;
	}

	.about-paragraf {
		font-size: 16px;
	}

	.about-paragraf b {
		font-size: 27px;
	}

	.content-list .content-list__item h2 {
		font-size: 18px;
	}

	.content-list .content-list__item a {
		font-size: 16px;
	}

	.comp-name b {
		font-size: 20px;
		line-height: 1.5;
	}
}

@media (max-width: 400px) {
	svg {
		width: 300px;
		height: 300px;
	}
}
@media (max-width: 330px) {
	svg {
		width: 250px;
		height: 250px;
	}
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: #00f7ff;
}

body::-webkit-scrollbar-thumb {
	background-color: #002986;
	border-radius: 20px;
}

.contacts {
	min-height: calc(100vh - 210px);
}